@using TuitionMedia.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Media</title>

    <link href="~/fonts/bootstrap/fontawesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/fonts/icomoon/style.css">
    <link href="~/fonts/bootstrap/carosoul.min.css" rel="stylesheet" />
    <link href="~/fonts/bootstrap/bootstrap-icon.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/fonts/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/navbar.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">

    <style>
        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Images/99-997597_s.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 50%;
            position: relative;
        }

        .hero-text {
            color: white;
            left: 50%;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
        }

            .hero-text button {
                background-color: #ddd;
                border: none;
                color: black;
                cursor: pointer;
                display: inline-block;
                outline: 0;
                padding: 10px 25px;
                text-align: center;
            }

                .hero-text button:hover {
                    background-color: #555;
                    color: white;
                }

        .user-body h3 {
            font-size: 15px;
            font-weight: 600;
        }

        .post-body {
            margin-bottom: 25px;
        }

            .post-body img {
                border-radius: 50%;
            }

        .user-body p {
            font-size: 12px;
            line-height: 1;
        }

        .post-body {
            align-items: center;
            display: flex;
        }

        .user-body {
            margin-left: 10px;
            margin-top: 10px;
        }

        .aside-head h3, .search-head h3 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 25px;
            margin-top: 35px;
        }

        .subject-body button {
            background: #aba7a7;
            border: 1px solid #c2bebe;
            border-radius: 20px;
            color: white;
            font-weight: 600;
            /* height: 36px; */
            margin: 3px;
        }
    </style>

    <style>
        .tab {
            float: left;
            height: auto;
            /* border: 1px solid #ccc; */
            /* background-color: #f1f1f1; */
            width: 100%;
        }

            /* Style the buttons inside the tab */

            .tab button {
                background-color: inherit;
                border: none;
                border-radius: 7px;
                color: #0e0c0c;
                cursor: pointer;
                display: block;
                font-size: 17px;
                outline: none;
                padding: 22px 16px;
                text-align: left;
                transition: 0.3s;
                width: 100%;
            }

                /* Change background color of buttons on hover */

                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current "tab button" class */

                .tab button.active {
                    background-color: #4a3a82;
                    box-shadow: 0 0 10px #0033ff45;
                    color: white;
                    font-weight: 600;
                }

        /* Style the tab content */

        .tabcontent {
            border: 1px solid #f0f0f0;
            border-radius: 5px;
            box-shadow: 0 0 10px #c2b6ffeb;
            float: left;
            height: auto;
            margin-bottom: 100px;
            padding: 0px 12px;
            padding-bottom: 30px;
            width: 100%;
        }


        .post-user-info img, .allpost-user img {
            border-radius: 50%;
            height: 60px;
            object-fit: cover;
            width: 60px;
        }

        .user-info h1 {
            font-size: 20px;
            margin-left: 10px;
        }



        .post-user-info {
            align-items: center;
            display: flex;
            margin-right: 300px;
        }

        .Post-info {
            align-items: center;
            display: flex;
            justify-content: space-around;
        }

        .profile-info {
            margin: 20px;
            margin-bottom: 100px;
        }


        .tuition-info {
            margin: 20px;
        }

            .tuition-info table {
                float: left;
                margin-right: 236px;
            }

            .tuition-info button {
            }

        div#createpost {
            padding: 50px;
            /* border: 1px solid #dbd9d9; */
        }


        .form-group {
            margin-bottom: 2rem;
        }

        div#createpost label {
            font-weight: 700;
        }

        .post-user-info-text p {
            font-size: 13px;
            line-height: 1;
        }

        .post-user-info-text h1 {
            font-size: 16px;
            font-weight: 600;
        }




        .post-user-info-text {
            margin-left: 20px;
            margin-right: 300px;
            margin-top: 20px;
        }

        .allpost-user {
            align-items: center;
            display: flex;
            margin-bottom: 20px;
        }


        div#mypost {
            padding: 50px;
        }

        .post-box {
            border-bottom: 1px solid black;
            margin-bottom: 30px;
            padding-bottom: 53px;
        }


        .btn-primary {
            background: #4a3a82;
            border-color: #4a3a82;
            width: 80px;
        }


        a.nav-link.user-profile {
            background-color: #4a3a82;
            /* align-items: center; */
            /* height: 30px; */
            border-radius: 5px;
            padding: 10px;
            width: 100px;
        }

        .sticky-wrapper .site-navbar ul li.active a {
            color: #715c5c;
            font-weight: 700;
            text-align: center;
        }

        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li.active a {
            color: #000;
        }

        .site-navbar {
            background-color: white;
            box-shadow: 0 0 10px #8267df59;
            margin-bottom: 0px;
            width: 100%;
        }

        .w-100 {
            height: 620px;
            object-fit: cover;
            width: 100% !important;
        }








        /*================================================================*/
        .noti-box {
            width: 100%;
            background: #fafafa;
            height: auto;
            box-shadow: 0 0 10px #c9daff;
            padding: 5%;
            margin: auto;
            margin-top: 100px;
            border-radius: 5px;
            margin-bottom: 45px;
            overflow: hidden;
            display: grid;
        }

        .noti-user img {
            border-radius: 5px;
            width: 200px;
            height: 200px;
            border: 1px solid #d8d7d7;
            object-fit: cover;
        }

        .noti-name p {
            color: black;
            font-weight: 600;
        }

        .noti-name h3 {
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .noti-name h6 {
            font-weight: 700;
            color: #3e5bff;
        }

        .noti-user button {
            font-weight: 500;
            /* width: 100%; */
            padding: 10px;
            border-radius: 5px;
            margin-top: 30px;
            border: none;
            background: #673ab7;
            color: white;
            margin-bottom: 65px;
            /* font-size: 15px; */
        }

        .post-main {
            margin: 0;
            padding: 0;
            margin-top: -200px;
        }
    </style>

</head>

<body>


    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <div class="site-navbar-wrap">
        <div class="site-navbar site-navbar-target js-sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-2">
                        <h1 class="my-0 site-logo">
                            <a href="index.html">
                                <img src="~/Images/tuitionmedia22.png" alt="Alternate Text" />
                            </a>
                        </h1>
                    </div>
                    <div class="col-10">
                        <nav class="site-navigation text-right" role="navigation">
                            <div class="container">
                                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                                    <a href="#"
                                       class="site-menu-toggle js-menu-toggle text-white">
                                        <span class="icon-menu h3"></span>
                                    </a>
                                </div>

                                <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                                    <li class="">@Html.ActionLink("Index", "Index", "Tutor", new { @class = "nav-link" })</li>

                                    <li>@Html.ActionLink("Newsfeed", "Newsfeed", "Tutor", new { @class = "nav-link" })</li>


                                    <!-- <li class="has-children">
                                        <a href="#gallery-section" class="nav-link">Gallery</a>
                                        <ul class="dropdown arrow-top">
                                            <li>
                                                <a href="#" class="nav-link">Photos</a>
                                            </li>
                                            <li>
                                                <a href="#" class="nav-link">Videos</a>
                                            </li>

                                        </ul>
                                    </li> -->
                                    <li>
                                        @Html.ActionLink("Teacher", "Teachers", "Tutor", new { @class = "nav-link" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("About", "aboutus", "Tutor", new { @class = "nav-link" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Contact", "contact", "Tutor", new { @class = "nav-link" })
                                    </li>
                                    <li style="cursor: pointer;" class="active">
                                        <a onclick="location.href = '@Url.Action("Notification", "Tutor", new {@class = "nav-link onhover"})'">Notification(<span>@ViewBag.noticount</span>)</a>
                                    </li>
                                    @if (Session["user"] == null)
                                    {
                                        <li>
                                            <a href="@Url.Action("Login", "Tutor")" class="nav-link">

                                                <button class="default-btn btn-active">
                                                    Sign In
                                                </button>
                                            </a>
                                            <a href="@Url.Action("Registration", "Tutor")" class="nav-link">
                                                <button class="default-btn">
                                                    Sign Up
                                                </button>
                                            </a>
                                        </li>
                                    }
                                    else if (Session["user"] != null)
                                    {
                                        <li class="has-children">
                                            <a href="#gallery-section" class="nav-link" style="color: #4b0082; font-weight: 600;">Profile</a>
                                            <ul class="dropdown arrow-top">
                                                <li>
                                                    <a href="@Url.Action("MyProfile", "Tutor")" class="nav-link">My Profile</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("MyPost", "Tutor")" class="nav-link">My Post</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("CreatePost", "Tutor")" class="nav-link">Create Post</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ViewRequest", "Tutor")" class="nav-link">View Request</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Settings", "Tutor")" class="nav-link">Settings</a>
                                                </li>
                                            </ul>
                                         </li>

                                        <li>
                                            <a href="@Url.Action("Logout", "Tutor")" class="nav-link" style="border: 1px solid #4a3a82; border-radius: 5px; font-weight: 600; padding: 8px;">Log Out</a>
                                        </li>
                                    }


                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size: 100px; font-weight: 700;">Notification</h1>
            <p>Learn, search, hire from here</p>
            <button>Learn More</button>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-12">




                <div class="noti-box">
                    @if (ViewBag.allnoti != null)
                    {

                        <table>

                            @foreach (PostTable item in ViewBag.allnoti)
                            {
                                if (item != null)
                                {
                                    
                               
                                    <tr>
                                        <td>
                                            <div class="noti-user">
                                                <img src="/@item.postuserimage" alt="Alternate Text"/>
                                                <div class="noti-name">
                                                    <h3>@item.postuserName</h3>
                                                    <p>

                                                    </p>
                                                </div>

                                                <h6>You respond on this post</h6>
                                                <div>
                                                    <button><a onclick="location.href = '@Url.Action("viewProfile", "Tutor", new {id = @item.PostUserId})'">Contact Now</a></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="post-main">
                                                <h3>Post</h3>
                                                <table>
                                                    <tr>
                                                        <th>Class</th>
                                                        <td>:</td>
                                                        <td>@item.PostClass</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Institution</th>
                                                        <td>:</td>
                                                        <td>@item.PostInstitution</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Address</th>
                                                        <td>:</td>
                                                        <td>@item.PostAddress</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Medium</th>
                                                        <td>:</td>
                                                        <td>@item.PostMedium</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Subject</th>
                                                        <td>:</td>
                                                        <td>@item.PostSubject</td>
                                                    </tr>

                                                    <tr>
                                                        <th>Expected Salary</th>
                                                        <td>:</td>
                                                        <td>@item.PostSalary</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Post Time</th>
                                                        <td>:</td>
                                                        <td>@item.PostTime</td>
                                                    </tr>
                                                </table>





                                            </div>
                                        </td>
                                    </tr>
                                
                                }
                            }
                           
                                <h3> No Notification Found</h3>
                         


                        </table>
                    }
                    else
                    {
                        <h3> No Notification Found</h3>
                    }



                </div>
            </div>
        </div>
    </div>












    @(Html.Partial("Footer"))


    <script src="~/Assets/js/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
    <script src="~/Assets/js/main.js"></script>


</body>
</html>